<nav id="sideNav">
  <ul>
    <li class="parent">
      <a class="parent" href="/api/">Overview</a>
    </li>
    <li>
      <a href="/api/0.11.0/">0.11.0</a>
    </li>
    <li>
      <a href="/api/0.10.0/">0.10.0</a>
    </li>
    <li>
      <a href="/api/0.9.0/">0.9.0</a>
    </li>
    <li>
      <a href="/api/0.8.0/">0.8.0</a>
    </li>
    <li>
      <a href="/api/0.7.0/">0.7.0</a>
    </li>
    <li>
      <a href="/api/0.6.0/">0.6.0</a>
    </li>
    <li>
      <a class="last" href="/api/0.5.0/">0.5.0</a>
    </li>
  </ul>
</nav>
